body {
    margin :0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
 
h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color:#222;
}

#quote {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;

}
#author {
    font-weight: bold;
    color: #555;
    margin-bottom: 20px;

}

button {
    padding: 10px 18px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background: #356aff;
    color: white;
    cursor: pointer;

}
button:hover {
    background: #274bcc;
}

#error {
    margin-top: 15px;
    color: red;
}

.hidden {
    display: none;
}